<html>
<head>
    <title>Demonstration</title>
    <meta charset="utf-8">
</head>    


<body>


    <object id="control_panel" data="static/control_panel.svg" type="image/svg+xml"></object>



    <script type=text/javascript src="{{
        url_for('static', filename='jquery.js') }}"></script>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        var mySVG = document.getElementById("control_panel");
        var svgDoc;
        mySVG.addEventListener("load",function() {
            svgDoc = mySVG.contentDocument;
            console.log("SVG contentDocument Loaded!");



            //visiblibity
            var blue_path = svgDoc.getElementById("blue_path");
            blue_path.style.visibility = "hidden";
            var yellow_path = svgDoc.getElementById("yellow_path");
            yellow_path.style.visibility = "hidden";
            var purple_path = svgDoc.getElementById("purple_path");
            purple_path.style.visibility = "hidden";
            var lxc1 = svgDoc.getElementById("LXC1");
            lxc1.style.visibility = "hidden";
            var lxc2 = svgDoc.getElementById("LXC2");
            lxc2.style.visibility = "hidden";
            var ch1 = svgDoc.getElementById("ch1");
            ch1.style.visibility = "hidden";
            var ch2= svgDoc.getElementById("ch2");
            ch2.style.visibility = "hidden";
            var ch3 = svgDoc.getElementById("ch3");
            ch3.style.visibility = "hidden";
            var parser1 = svgDoc.getElementById("parser1");
            parser1.style.visibility = "hidden";
            var parser2 = svgDoc.getElementById("parser2");
            parser2.style.visibility = "hidden";            
            var thingspeak1 = svgDoc.getElementById("thingspeak1");
            thingspeak1.style.visibility = "hidden";  
            var thingspeak2 = svgDoc.getElementById("thingspeak2");
            thingspeak2.style.visibility = "hidden";            


            /*
            start_gen.addEventListener("click", gen_start);
            stop_gen.addEventListener("click", gen_stop);

            function gen_start(event) { 

                console.log(event.type, this.id);
                if (this.id=="startgen"){

                    $.get("run_gen", function(data){console.log(data.status);});
                }

                generator.style.visibility = "visible";      

            } 
           
            function gen_stop(event) { 
                
                console.log(event.type, this.id);
                if (this.id=="stopgen"){

                    $.get("stop_gen", function(data){console.log(data.status);});
                }       
     
                generator.style.visibility = "hidden";      
            }     
            */

            setInterval
            (
                function ()
                {

                    $.getJSON($SCRIPT_ROOT + '/get_app_status',{}, function(data){

                        response = data.status

                        //generator
                        if (response["generator-user"]["iot"]["111222333"]["channel_created"]){
                            ch1.style.visibility = "visible";
                        }
                        else{
                            ch1.style.visibility = "hidden";
                        }
                        if (response["generator-user"]["iot"]["111222333"]["path_established"]){
                            blue_path.style.visibility = "visible";
                        } 
                        else{
                            blue_path.style.visibility = "hidden";    
                        }
                        if (response["generator-user"]["lxc_created"]){
                            lxc1.style.visibility = "visible";
                        }     
                        else{
                            lxc1.style.visibility = "hidden";
                        }
                        if (response["generator-user"]["parser_created"]){
                            parser1.style.visibility = "visible";
                        }     
                        else{

                            parser1.style.visibility = "hidden";  
                        }
                        if (response["generator-user"]["account_created"]){
                            thingspeak1.style.visibility = "visible";
                        }     
                        else{
                            thingspeak1.style.visibility = "hidden"; 
                        }

                        //spirent
                        /*if (response["spirent-user"]["iot"]["123456789"]["channel_created"]){
                            ch1.style.visibility = "visible";
                        }
                        else{
                            ch1.style.visibility = "hidden";
                        }
                        if (response["spirent-user"]["iot"]["123456789"]["path_established"]){
                            blue_path.style.visibility = "visible";
                        } 
                        else{
                            blue_path.style.visibility = "hidden";    
                        }
                        if (response["spirent-user"]["lxc_created"]){
                            lxc1.style.visibility = "visible";
                        }     
                        else{
                            lxc1.style.visibility = "hidden";
                        }
                        if (response["spirent-user"]["parser_created"]){
                            parser1.style.visibility = "visible";
                        }     
                        else{

                            parser1.style.visibility = "hidden";  
                        }
                        if (response["spirent-user"]["account_created"]){
                            thingspeak1.style.visibility = "visible";
                        }     
                        else{
                            thingspeak1.style.visibility = "hidden"; 
                        }
                        */
                        //libelium
                        if (response["libelium-user"]["iot"]["403472527"]["channel_created"]){

                            ch2.style.visibility = "visible";
                        }
                        else{
                            ch2.style.visibility = "hidden";    
                        }
                        if (response["libelium-user"]["iot"]["403458164"]["channel_created"]){

                            ch3.style.visibility = "visible";
                        }
                        else{
                            ch3.style.visibility = "hidden";    
                        }
                        if (response["libelium-user"]["iot"]["403458164"]["path_established"]){

                            yellow_path.style.visibility = "visible";
                        } 
                        else{
                            yellow_path.style.visibility = "hidden";    
                        }
                        if (response["libelium-user"]["iot"]["403472527"]["path_established"]){
                            purple_path.style.visibility = "visible";
                        } 
                        else{
                            purple_path.style.visibility = "hidden";    
                        }
                        if (response["libelium-user"]["lxc_created"]){
                            lxc2.style.visibility = "visible";
                        }     
                        else{
                            lxc2.style.visibility = "hidden";
                        }
                        if (response["libelium-user"]["parser_created"]){
                            parser2.style.visibility = "visible";
                        }     
                        else{

                            parser2.style.visibility = "hidden";  
                        }
                        if (response["libelium-user"]["account_created"]){
                            thingspeak2.style.visibility = "visible";
                        }     
                        else{
                            thingspeak2.style.visibility = "hidden"; 
                        }                                       


                        //$("#app").html(JSON.stringify(response, null, '\t')); 
                    }); 

                },1000
            );



        }, false);


     </script>      

    <!--<pre id="app"></pre><br>-->


</body>
</html>